				
					<tr>
						<td colspan="2"><input required="required" class="textbox iconuser" type="text" name="userName" placeholder="FirstName or LastName" [formControl]="userName"></td>
					</tr>
					<tr>
						<td colspan="2"><input  required="required" class="textbox iconmail" type="text" name="emailId" placeholder="UserName or Email" [formControl]="emailId"></td>
					</tr>
					<tr>
						<td colspan="2"><input required="required" class="textbox iconpass" type="password" name="password" placeholder="Password" [formControl]="password"></td>
					</tr>
					<tr>
						<td colspan="2"><input id="registerButton" class="btn2" type="button" name="button" value="CREATE AN ACCOUNT" (click)="register()"></td>
					</tr>
			
					